/*************************
GLOBAL
*************************/
$bodyBgColor: #f9f9ff;
$mainFontColor: #5e5c7f;
$mainFontFamily: 'Rubik',
sans-serif;
$showResponsiveNavigation: 1200px;
/*************************
HEADER
*************************/
$mainHeaderColor: #000;
/*************************
BTN
*************************/
$btnColor: #fff;
$btnBgColor: #FF4C60;

/*<<<<<<<<<<<<<<CONTENT>>>>>>>>>>>>>*/

/*************************
NAVIGATION
*************************/
$menuBgColor: #353353;
$menuBorderColor: rgba(255, 255, 255, 01);
$iconColor: #FFD15C;
$navFontColor: #fff;
$navFontHoverColor: #FFD15C;
$navCopyrightColor: #9c9ab3;
/*************************
HOME
*************************/
$homeBgColor: #353353;
$homeTextColor: #fff;
$homeTextHoverColor: #FFD15C;
/*************************
ABOUT
*************************/
$aboutCloudBg: #fff;
$progressBarColor: #f1f1f1;
$progressBarYellow: #ffb700;
$progressBarBlue: #1900ff;
$progressBarRed: #ff4c60;
$numberIconColor: #7a7a7a;
/*************************
SERVICES
*************************/
$serviceBgColorBlue: #6c6ce5;
$serviceBgColorYellow: #f9d74c;
$serviceBgColorRed:#ff4c60;
/*************************
EXPERIENCE
*************************/
$experienceLineColor: #FF4C60;
$experienceDateColor: #7c7c7c;